# Apache Configuration File

# Prevent Apache from returning a 404 error for a rewrite if a directory
# with the same name does not exist.
# http://httpd.apache.org/docs/current/content-negotiation.html#multiviews

Options -MultiViews

# Turning on the rewrite engine and enabling the `FollowSymLinks` option is
# necessary for the following directives to work.

<IfModule mod_rewrite.c>
  Options +FollowSymlinks
  RewriteEngine On
  RewriteRule ^soap$ server.php [NC,QSA,L]
</IfModule>
